.body {
  padding: 16px 0;
}

.title {
  font-size: 20px;
  margin-bottom: 4px;
}

.company {
  font-weight: 500;
  margin-bottom: 6px;
  opacity: 0.8;
}

.dates,
.location {
  font-size: 14px;
  margin-bottom: 4px;
  opacity: 0.7;
}

@media (min-width: 701px) {
  .header {
    display: flex;
    justify-content: space-between;
  }

  .right {
    padding-top: 6px;
    text-align: right;
  }
}
