.body {
  padding: 16px 0;
}

.title {
  color: black;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;

  @media screen and (prefers-color-scheme: dark) {
    color: white;
  }
}

.company {
  font-size: 18px;
  margin-bottom: 4px;
}

.dates,
.location {
  margin-bottom: 4px;
  opacity: 0.8;
}

.location {
  font-style: italic;
}

.tools {
  font-size: 10px;
  line-height: 1.3;
  margin: 12px 0 0 33px;
  text-indent: -33px;
}

.tool {
  display: inline-block;
  margin-left: 2px;
  opacity: 0.8;
  text-indent: 0;
  white-space: nowrap;
}

.tool::after {
  content: '·';
  margin-left: 2px;
  opacity: 0.6;
}

.tool:first-child {
  margin-right: 4px;
}

.tool:first-child::after {
  content: none;
}

.tool:last-child::after {
  content: none;
}


@media screen and (min-width: 701px) {
  .header {
    display: flex;
    justify-content: space-between;
  }

  .left {
    padding: 0 6px 0 0;
  }

  .right {
    padding: 6px 0 0 6px;
    text-align: right;
  }
}

@media print {
  .header {
    display: flex;
    justify-content: space-between;
    page-break-inside: avoid;
  }

  .left {
    padding: 0 6px 0 0;
  }

  .right {
    padding: 6px 0 0 6px;
    text-align: right;
  }
}
