.bullets {
  margin-left: 16px;
}

.bullet {
  list-style: disc;
  margin: 6px 0;
  text-align: justify;
}

.bullet:last-child {
  margin-bottom: 0; /* no gap between last item and SeeMore <footer> */
}
