.body {
  --gap: 12px;

  margin-bottom: var(--gap);
}

.paragraph {
  font-size: 14px;
  line-height: 20px;
  margin: var(--gap) 0;
  opacity: 0.9;
  text-align: justify;

}

.paragraph:last-child {
  margin-bottom: 0; /* for accurate truncation */
}
