.paragraph {
  font-size: 14px;
  line-height: 20px;
  margin: 12px 0;
  opacity: 0.9;
  text-align: justify;
}

.paragraph:last-child {
  margin-bottom: 0; /* no gap between <p> and SeeMore <footer> */
}
