.body {
  display: flex;
  margin-top: 16px;
  text-align: center;
}

.body h4 {
  display: inline;
  font-weight: 600;
  opacity: 0.8;
}

.skills {
  text-align: left;
}

.skill {
  display: inline-block;
  margin: 0px 0 0 6px;
  opacity: 0.8;
  white-space: nowrap;
}

.skill::after {
  content: '·';
  margin-left: 6px;
  opacity: 0.5;
}

.skill:last-child::after {
  content: none;
}

@media screen and (min-width: 701px) {
  .body {
    display: block;
    margin-top: 32px;
    text-align: left;
  }

  .skills {
    line-height: 18px;
  }

  .skill {
    display: block;
    margin: 4px 0 0 12px;
    text-indent: -12px;
    white-space: normal;
  }

  .skill::after {
    content: none;
  }
}

@media print {
  .body {
    display: block;
    margin-top: 32px;
    text-align: left;
  }

  .skills {
    line-height: 1.4;
  }

  .skill {
    display: block;
    margin: 4px 0 0 12px;
    text-indent: -12px;
    white-space: normal;
  }

  .skill::after {
    content: none;
  }
}
