.body {
  padding: 16px 0;
}

.name {
  color: black;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;

  @media screen and (prefers-color-scheme: dark) {
    color: white;
  }
}

.degree {
  font-size: 18px;
  margin-bottom: 4px;
}

.dates {
  font-size: 14px;
  opacity: 0.8;
}

@media screen and (min-width: 701px) {
  .header {
    display: flex;
    justify-content: space-between;
  }

  .left {
    padding: 0 6px 0 0;
  }

  .right {
    padding: 6px 0 0 6px;
    text-align: right;
  }
}

@media print {
  .header {
    display: flex;
    justify-content: space-between;
    page-break-inside: avoid;
  }

  .left {
    padding: 0 6px 0 0;
  }

  .right {
    padding: 6px 0 0 6px;
    text-align: right;
  }
}
