.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 32px 100px;
  min-height: 100vh;

  @media (max-width: 700px) {
    padding: 16px;
  }
}

.logoWrap {
  border-top: 2px solid transparent;
  border-color: rgba(var(--font-rgb), 0.3);
  display: flex;
  justify-content: flex-end;
  margin-top: 64px;
  max-width: var(--page-max-width);
  opacity: 0.7;
  position: relative;
  padding: 16px 0 0;
  width: 100%;
}

.logoWrap span {
  margin-right: 16px;
  opacity: 0.5;
}

.logo {
  position: relative;

  @media (prefers-color-scheme: dark) {
    filter: invert(1);
  }
}
