.body {
  --footer-margin-top: 64px;

  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 16px;
}

.belowHeader {
  max-width: var(--page-max-width);
}

.aside {
  padding: 0 16px;
}

.main {
  padding: 32px 16px;
}

.footer {
  border-top: 1px solid rgba(var(--font-rgb), 0.3);
  display: flex;
  justify-content: flex-end;
  margin-top: var(--footer-margin-top);
  max-width: var(--page-max-width);
  opacity: 0.7;
  position: relative;
  padding: 16px 0 0;
  width: 100%;
}

.footer span {
  font-size: 12px;
  margin-right: 12px;
  opacity: 0.5;
}

.logo {
  opacity: 0.8;
  position: relative;

  @media screen and (prefers-color-scheme: dark) {
    filter: invert(1);
  }
}

@media screen and (min-width: 701px) {
  .body {
    padding: 32px 5%;
  }

  .belowHeader {
    display: flex;
  }

  .aside {
    background: linear-gradient(to left, rgba(var(--font-rgb), 0.05), transparent);
    border-right: 1px solid rgba(var(--font-rgb), 0.15);
    padding: 16px 24px var(--footer-margin-top) 0;
    width: 25%;
  }

  .main {
    padding: 16px 0 var(--footer-margin-top) 24px;
  }

  .footer {
    margin-top: 0;
  }
}

@media print {
  @page {
    margin: .3in .5in;
  }

  .body {
    padding: 0;
  }

  .belowHeader {
    display: flex;
  }

  .aside {
    background: linear-gradient(to left, rgba(var(--font-rgb), 0.05), transparent);
    border-right: 1px solid rgba(var(--font-rgb), 0.15);
    padding: 16px 24px 0 0;
    width: 25%;
  }

  .main {
    padding: 16px 0 0 24px;
  }

  .footer {
    display: none;
  }
}
