.body {
  align-items: center;
  background: rgb(248, 249, 250);
  border: 1px solid rgb(211, 213, 214);
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  max-width: var(--page-max-width);
  padding: 16px 16px 20px;
  text-align: center;
  width: 100%;
  z-index: 100;

  @media (prefers-color-scheme: dark) {
    background: rgb(47, 48, 49);
    border: 1px solid rgb( 108, 108, 108);
  }
}

.name {
  font-size: 36px;
  margin-bottom: 8px;
}

.title {
  font-family: var(--font-mono);
  font-size: 14px;
  width: fit-content;
}

.links {
  margin-top: 12px;
}

.link {
  display: block;
  font-size: 14px;
  text-align: center;
}
