.body {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: var(--page-max-width);
  padding: 16px 16px 24px;
  text-align: center;
  width: 100%;
  z-index: 100;

  @media (min-width: 701px) {
    border-bottom: 1px solid rgba(var(--font-rgb), 0.5);
  }
}

.name {
  font-size: 38px;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 1.1;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.name > span {
  display: inline-block;
  margin: 0 8px;
}

.name > span::first-letter {
  font-size: 1.3em;
}

.title {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1.5;
  text-transform: uppercase;
  opacity: 0.8;
  width: fit-content;
}

.links {
  margin-top: 24px;
}

.link {
  display: block;
  font-family: var(--font-mono);
  font-size: 14px;
  line-height: 22px;
  opacity: 0.7;
  text-align: center;
}
