.body {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: var(--page-max-width);
  padding-bottom: 16px;
  text-align: center;
  width: 100%;
  z-index: 100;
}

.name {
  font-size: 38px;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 1.1;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.name > span {
  display: inline-block;
  margin: 0 8px;
}

.name > span::first-letter {
  font-size: 1.3em;
}

.title {
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: fit-content;
}

.links {
  margin-top: 12px;
}

.link {
  border-bottom: 1px solid rgba(var(--font-rgb), 0.5);
  line-height: 1.6;
  text-align: center;
  text-decoration: none;
}

@media screen and (min-width: 701px) {
  .body {
    border-bottom: 1px solid rgba(var(--font-rgb), 0.3);
    padding-bottom: 24px;
  }
}

@media print {
  .body {
    border-bottom: 1px solid rgba(var(--font-rgb), 0.3);
    padding-bottom: 24px;
  }
}
