.body {
  text-align: center;
}

.body li {
  margin-top: 4px;
}

.body li:first-of-type {
  margin-top: 0;
}

.body h4 {
  display: inline;
  font-weight: 600;
  opacity: 0.8;
  padding-right: 12px;
}

.body span {
  margin-top: 4px;
  opacity: 0.8;
}

@media screen and (min-width: 701px) {
  .body {
    text-align: left;
  }

  .body li {
    margin-top: 32px;
  }

  .body li:first-of-type {
    margin-top: 6px;
  }

  .body h4,
  .body span {
    display: block;
  }
}

@media print {
  .body {
    text-align: left;
  }

  .body li {
    margin-top: 32px;
  }

  .body li:first-of-type {
    margin-top: 6px;
  }

  .body h4,
  .body span {
    display: block;
  }
}
