.body {
  border-bottom: 1px solid transparent;
  border-color: rgba(var(--font-rgb), 0.7);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
  padding-bottom: 6px;
  text-transform: uppercase;
}

.body::first-letter {
  font-size: 1.3em;
}
